*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  /* text-align: center; */
  font-family: 'Poppins', sans-serif;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

/*typography*/
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

h1 {
  font-family: 'Playfair Display';
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  font-size: 37px;
  font-family: 'Playfair Display';
}

h3 {
  font-size: 28px;
  font-family: 'Playfair Display';
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: .5px;
  color: inherit;
}

ul,
nav ul li a {
  font-size: 15px;
  font-weight: 400;
}

/*BUTTON*/
.btn-holder {
  align-items: center;
  justify-content: unset !important;
}

.btn-holder img {
  max-width: 36px;
  margin-right: -20px;
  z-index: 999;
}

.btn {
  position: relative;
  overflow: hidden;
  z-index: 998;
  display: block;
  /* margin: 0 auto; */
  text-align: center;
  padding: 25px 0;
  width: 100%;
  max-width: 277px;
  font-size: 12px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  background: #143A9F;
  color: #FFF;
  line-height: 1.2;
  border-radius: 10px;
  -webkit-appearance: inherit;

  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.btn a {
  font-size: 20px;
}

.btn:hover {
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color: #fff;
  background: #0057FF;
}

/*FLEX*/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
}


img {
  width: 100%;
}


/*SOCIAL*/


/*-----------------------------------------------HEADER-----------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  z-index: 1000;
}

#header.fixed {
  position: fixed;
  background-color: rgb(0 0 0 / 90%);
  min-height: 188px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#header.fixed .logo-holder img {
  max-width: 250px;
  transition: max-width 0.3s ease;
}

#header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 19px;
}

#header .logo-holder img {
  max-width: 331px;
}

#header .nav-holder {
  width: 100%;
  max-width: 798px;
}

#header nav a#pull {
  display: none
}

#header nav {
  position: relative;
  z-index: 999;
  width: 100%
}

#header nav ul {
  justify-content: space-between;
  display: flex;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 0 0 0;
}

nav ul li a {
  font-weight: 400;
  color: #fff;
}

#header nav ul li.active-menu a,
#header nav ul li a:hover {}



/*-----------------------------------------------BANNER-----------------------------------------------*/
#banner {
  background: url('../images/content/bg-banner.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 129px 0 104px;
}

#banner .row {
  max-width: 100%;
  padding: 0;
}

#banner .banner-con {
  width: 100%;
}

#banner .banner-con .top {
  color: #fff;
  width: 100%;
  max-width: 435px;
  margin: 0 0 207px auto;
}

#banner .title {
  font-family: 'Playfair Display';
  font-size: 48px;
  margin-bottom: 60px;
}

#banner .label {
  font-size: 20px;
}

#banner .bann-btn {
  padding: 22px 0;
  width: 100%;
  max-width: 248px;
  border: 1px solid #fff;
  border-radius: 50px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 14px;
  letter-spacing: 2.8px;
  font-weight: 300;
}

#banner .bottom {
  width: 100%;
  max-width: 839px;
  background: #fff;
  padding: 23px 0;
  border-radius: 0 100px 100px 0;
}

#banner .wrapper {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
}

#banner .item {
  display: block;
  text-align: center;
}

#banner .item img {
  max-height: 136px;
  height: 100%;
  width: auto;
}

#banner .item .label {
  margin-top: 10px;
  color: #44803C;
}

/*-----------------------------------------------CONTENT-----------------------------------------------*/
/*WELCOME*/
#welcome {
  background: url('../images/content/bg-welcome.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 170px 0 190px;
}

#welcome .welcome-con {
  background: #fff;
  padding: 103px 0 68px;
  width: 100%;
  max-width: 839px;
  margin: 0 0 0 auto;
  border-radius: 10px;
}

#welcome .welcome-con .wrapper {
  width: 100%;
  max-width: 626px;
  margin: 0 0 0 auto;
}

#welcome .logo-holder img {
  max-width: 331px;
}

#welcome h1 {
  color: #00409F;
  margin: 40px 0 65px;
}

#welcome p {
  font-size: 17px;
}

#welcome .btn-holder {
  margin-top: 68px;
}



/*SERVICES*/
#services {
  background: url('../images/content/bg-services.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 0 0 190px;
}

#services .row {
  max-width: 100%;
  padding: 0;
}

#services .wrapper {
  background: #fff;
  width: 100%;
  max-width: 538px;
  padding: 68px 0 63px;
  text-align: center;
  color: #003F9F;
}

#services .services-con {
  align-items: center;
  justify-content: right;
  position: relative;
  z-index: 1;
  margin-top: -122px;
}

#services .left {
  background: #fff;
  width: 100%;
  max-width: 490px;
  padding: 38px 0 0 62px;
  margin-right: -63px;
  margin-top: 76px;
}

#services .left:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(30%, 21%);
  width: 490px;
  min-height: 660px;
  background-color: #00409F;
  z-index: -1;
}

#services .left .con {
  width: 100%;
  max-width: 317px;
}

#services .left h1 {
  color: #00409F;
}

#services .left ul {
  list-style: none;
  margin-top: 48px;
  font-size: 17px;
}

#services .left ul li {
  margin-top: 27px;
}

#services .left ul li:first-child {
  color: #1947C6;
  font-weight: 700;
}

#services .btn-holder {
  margin: 52px 0 -23px;
}


#services .img-holder img {
  max-width: 1274px;
}

#services .card {
  background: #fff;
  width: 100%;
  max-width: 620px;
  padding: 58px 0;
  margin: -173px auto 0;
  position: relative;
  z-index: 1;
  justify-content: center;
  gap: 10px;
}

#services .card-con {
  width: 100%;
  max-width: 491px;
}

#services .card .arrow {
  font-family: 'Barlow';
  font-size: 50px;
  color: #133693;
  line-height: .5;
}

#services h3 {
  color: #003F9F;
  margin-bottom: 28px;
  font-weight: 500;
}

#services .card p {
  margin-bottom: 32px;
  font-size: 17px;
}

#services .card a {
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  color: #102E7F;
}

/* SECTION1 */
#section1 {
  background: url('../images/content/bg-section1.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 155px 0 98px;
}

#section1 h1 {
  color: #002762;
  width: 100%;
  max-width: 856px;
}

#section1 p {
  width: 100%;
  max-width: 776px;
  margin: 40px 0;
}

/* PROJECT */
#project h1 {
  color: #003F9F;
  margin-bottom: 28px;
}

#project .row {
  margin: auto 0 0 0;
  align-items: center;
  max-width: 1697px;
  padding: 0;
}

#project .left img {
  max-width: 800px;
  display: block;
}

#project .right .top {
  width: 100%;
  max-width: 711px;
  margin: 0 auto;
}

#project .img-holder {
  margin-top: 85px;
  margin-left: -180px;
  gap: 44px;
}

#project .right img {
  max-width: 328px;
}

/* ABOUT */
#about h2 {
  width: 100%;
  max-width: 648px;
  margin: 0 auto;
  text-align: center;
}

#about p {
  font-size: 18px;
  width: 100%;
  max-width: 579px;
  text-align: center;
  margin: 28px auto;
}

#about .con {
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  max-width: 960px;
  padding: 188px 0 161px;
}

#about .left {
  background: url('../images/content/bg-about-left.jpg')no-repeat top;
}

#about .left h2 {
  color: #002661;
  font-weight: 400;
}

#about .abt-btn {
  font-size: 14px;
  border: 1px solid #143A9F;
  color: #143A9F;
  width: 100%;
  max-width: 201px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 48px auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

#about .abt-btn:hover {
  background: #143A9F;
  color: #fff;
}

.long-arrow-right {
  transform: rotate(135deg);
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #143A9F;
  border-left: 1px solid #143A9F;
  margin-left: 44px;
}

.long-arrow-right::after {
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: #143A9F;
  transform: rotate(-45deg) translate(15px, 7px);
  left: 0;
  top: 0;
}

#about .right {
  background: url('../images/content/bg-about-right.jpg')no-repeat top;
  color: #fff;
}

#about .right .abt-btn {
  color: #fff;
  border: 1px solid #fff;
}

#about .abt-btn:hover .long-arrow-right,
#about .right .long-arrow-right {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

#about .abt-btn:hover .long-arrow-right::after,
#about .right .long-arrow-right::after {
  background-color: #fff;
}


/* SECTION2 */
#section2 {
  background: url('../images/content/bg-section2.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 145px 0 362px;
  text-align: center;
}

#section2 h1 {
  color: #002762;
}

#section2 h3 {
  font-family: 'Poppins';
  color: #464646;
  font-weight: 400;
  margin: 30px 0 58px;
}

#section2 .con {
  justify-content: center;
  gap: 37px;
}

#section2 .box {
  background: #fff;
  width: 100%;
  max-width: 291px;
  padding: 27px 0 40px;
}

#section2 .box img {
  min-height: 79px;
  width: auto;
}

#section2 .box .label {
  font-size: 23px;
  color: #444444;
  width: 100%;
  max-width: 178px;
  margin: 10px auto;
}



/*gallery*/

#gallery h1 {}

#gallery img {
  display: block;
  margin: 10px;
}


/*CONTACT*/
#contact {
  position: relative;
  margin-top: -215px;
  background: #fff;
  padding: 70px 0 76px;
  text-align: center;
}

#contact .contact-con {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

#contact h1 {
  font-size: 50px;
  color: #002762;
}

#contact .to-sm {
  font-size: 16px;
  color: #666666;
  font-family: 'Arial', sans-serif;
  width: 100%;
  max-width: 910px;
  margin: 28px auto 23px;
}

#contact .ctc-form label {
  width: 49.5%;
}

form .messages p {
  display: none;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

form .loading {
  display: none;
}

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.ctc-form {
  margin: 0 auto;
  text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #000;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #A8A8A8;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0 auto 8px;
  resize: none;
  background: #EEEEEE;
}

.ctc-form::placeholder,
.ctc-form label {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: .03px;
  text-align: left;
  color: #545454;
}

.ctc-form textarea {
  height: 150px;
  padding-top: 10px;
}

#contact .submit {
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 500px;
}

.ctc-form .ctcBtn {
  display: block;
  border: none;
  border-radius: 0;
  width: 100%;
  max-width: 182px !important;
  font-family: 'Playfair Display';
  font-size: 14px !important;
  background: #000 !important;
}

.ctc-form .recap {
  display: inline-block;
}

.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
  display: none;
}


/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer {
  background: url('../images/content/bg-footer.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
}

#footer .logo-holder {
  margin: 133px auto 0;
}

#footer .logo-holder img {
  max-width: 331px;
}

#footer .nav-holder {
  width: 100%;
}

#footer nav {
  width: 100%;
  max-width: 806px;
  margin: 50px auto 0;
}

#footer nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer nav ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}

#footer .copyrights {

  padding: 20px 0
}

#footer .copyrights p {
  color: #fff;
}

.techno img {
  width: 52px;
  margin: 0 5px -14px;
}








/*---------------------------------------inner pages-------------------------------------------*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto
}

.inner #content h1 {
  padding-bottom: 20px;
}


/*inner gallery*/
.img-responsive {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

#content .gallery-container {
  text-align: center;
}

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content .gallery li {
  display: inline-block;
}

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
  transform: scale(1.02);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.inner #content .gallery-container {
  margin-bottom: 20px
}




/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify !important;
}



/*RESPONSIVE*/


/* @media screen and (max-width: 1200px) {
  body {
    min-width: 320px
  }
} */


/*768*/
/* @media screen and (max-width: 959px) {

  #header .row {
    width: 100%;
    padding: 0;
  }

  #header nav {}

  #header nav ul {
    width: 100%;
    display: none;
    height: auto;
    border-bottom: 5px solid #000;
    padding: 0 15px;
  }

  #header nav ul li {
    width: 100%;
    position: relative;
  }

  #header nav ul li a {
    padding: 10px 0;
    text-align: left;
    width: 100%;
  }

  #header nav a strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  #header nav a#pull {
    display: block;
    color: #fff;
    background-color: #000;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: relative;
  }

  #header nav a#pull:after {
    content: "";
    background: url('../images/nav-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .cta {
    background: #035B96 url("../images/common/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #013f9a;
    border-top-left-radius: 40px;
    bottom: 10%;
    display: block;
    height: 60px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    width: 60px;
    z-index: 999;
  }


} */